MONGODB_URI=mongodb+srv://username:
PORT=your_port_number
BACKEND_URL=http://localhost:PORT
FRONTEND_URL=http://localhost:5173
ACCESS_SECRET=your_access_secret_key
REFRESH_SECRET=your_refresh_secret_key
MODE=development