@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-background: #e3e3e3;
  --color-surface: #f4f4f4;
  --color-primary: #4988c4;
  --color-primary-variant: #1c4d8d;
  --color-error: #dc143c;

  --animate-shake: shake 0.5s ease-in-out;
}

@layer base {
  html,
  body {
    @apply h-full duration-150;
  }

  body {
    @apply bg-background text-lg lg:text-xl text-slate-600 font-poppins m-0;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-6xl;
  }

  h3 {
    @apply text-5xl;
  }

  h4 {
    @apply text-4xl;
  }

  h5 {
    @apply text-3xl;
  }

  h6 {
    @apply text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-slate-700;
  }

  input,
  textarea {
    @apply bg-white rounded-lg outline-primary caret-primary;
  }

  textarea {
    @apply resize-none field-sizing-content text-wrap overflow-hidden;
  }

  button,
  a {
    @apply outline-primary-variant cursor-pointer;
  }
}

#root {
  @apply grid grid-rows-[1fr_auto] min-h-dvh;
}

@utility ao-note-container {
  @apply container mx-auto px-[5vw] w-full h-full;
}

@utility fixed-center {
  @apply -translate-x-[50%] left-[50%];
}

@utility note-form {
  @apply px-3 py-2;
}

/* keyframes */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }
}
